[Unit]
Description=PDirect Service
After=multi-user.target
StartLimitIntervalSec=0

[Service]
Type=simple
WorkingDirectory=/home/ubuntu
ExecStart=/usr/bin/python /home/ubuntu/PDirect.py
Restart=always
RestartSec=15

[Install]
WantedBy=multi-user.target
